@charset "utf-8";
/* CSS Document */

.amore{
	float:right;
	margin-right:10px;
}

.panel-footer a {
    display: block;
    text-align: right;
    text-decoration: none;
    width: 100%;
}
.myheight{
	height:270px;
}
