@charset "utf-8";
/* CSS Document */

.amore{
	float:right;
	margin-right:10px;
	color: #fff;
}

.mytime{
	float:right;
}

#mypages{
	text-align:center;
}

#myjixnews{
	margin-top:20px;
}
#myJixin{
	height:530px;
}

