@charset "utf-8";
/* CSS Document */
.jumbotron p {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 15px;
}
.amore{
	float:right;
	margin-right:10px;
}

#myleadercontent{
	margin-top:20px;
	text-align: center;	
}

#mycontent{
	text-align:center;
}

#zhengce{
	margin-top:20px;
}

#myleadercontent img{
	 width: 80%;
}
